{% extends 'www/templates/pyodide.html' %}

{% block extrahead %}
{{ super() }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
<link rel="shortcut icon" href="../../assets/duckbot.ico"/>
{% endblock %}

{% block extrastyle %}
   .cm-error-line {
  background-color: rgba(255, 0, 0, 0.12) !important;
}

.cm-error-tooltip {
  background: #2b2b2b;
  color: red;
  padding: 6px 8px;
  border-radius: 4px;
  font-size: 12px;
  max-width: 400px;
}

      body {
        font-family: "JetBrains Mono", monospace;
        padding: 0; margin: 0;
        background-color: #0f172a;
        width: 100vw; height: 100vh; overflow: hidden;
      }
      .attribution {
        color: #555;
        font-size: 9pt;
        margin-top: 5em;
      }
      .properties {
         display: flex;
         flex-direction: column;
      }
      .properties span { display: inline-block; }
      .properties .name {
        min-width: 5em;
        margin-right: 0.8em;
      }
      .properties .value {
        margin-left: 0.8em;
      }
      /* basic styling */
      #canvas {
        min-width: 400px;
        width: 100%;
        flex: 1;
      }

      #editor {
          border: 1px solid darkgray;
          height: 400px;
      }

      input.file { width: 0px; height: 0px; opacity: 100%; }

      .main {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
      }
      .content {
        min-height: 0;
        min-width: 0;
        display: flex;
        flex-direction: row;
      }

      .header { height: 40px; display: flex; flex-direction: row; color: #e5e7eb; margin: 0.4em; }
      .header h1 { font-size: 18pt; width: 200px; }
      .header .level-name { font-size: 12pt; }

      .duckbot-executed-line { background-color: #aaa !important; }
      .duckbot-decision-line { background-color: #E8F1FF !important; }
      .duckbot-final-line { background-color: #EAF7EE !important; }

      .brain {
        margin-left: 1em;
        min-width: 400px;
        max-width: 1024px;
        flex: 1;
        display: flex;
        flex-direction: column;
      }

      .srcarea {
        padding: 0.5em;
        background-color: white;
        border: 1px solid #ccc;
        flex: 1;
        display: flex;
        flex-direction: column;
        min-width: 0;
        min-height: 0;
      }
      .srcarea > .cm-editor {
        flex: 1;
        min-width: 0;
        min-height: 0;
      }

      #console {
         flex: 0.2;
         min-height: 200px;
         max-height: 500px;
         overflow: auto;
      }
      #console.console-dim {
        color: #888;
      }
      #console.console-error {
        color: red;
      }
      #console.console-success {
        color: green;
      }

      .heading {
        font-weight: bold;
        font-size: 12pt;
        color: white;
      }

      .controls {
        flex: 0;
        padding: 0.5em;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }

      .canvas {
        flex: 2;
        display: flex;
        flex-direction: column;
        min-height: 0;
        min-width: 0;
        padding: 0.4em;
      }

      #canvascontainer {
        flex: 1;
        width: 100%;
        height: 100%;
        overflow: visible;
        min-width: 0;
        min-height: 0;
      }

      .gamediag {
        flex: 0;
        padding: 1em;
        color: white;
        font-family: "JetBrains Mono", monospace;
        display: flex;
        flex-direction: row;
      }

      .gameinfo {
        flex: 4;
      }

      .gamedbg {
         flex: 1;
         display: flex;
         flex-direction: column;
         justify-content: space-evenly;
      }

      #loader {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10000;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-color: #0f172a;
      }
      #loader.loaded { display: none; }

      .loading-message {
        color: #e5e7eb;
      }

      .loading-bars {
        display: flex;
        flex-direction: row;
        margin-bottom: 3em;
      }

      .loading-bar:after {
        content: " ";
      }
      .loading-bar {
        background-color: #e5e7eb;
        margin: 0.2em;
        width: 1em;
        height: 4em;
        animation: grow;
        animation-duration: 1s;
        animation-iteration-count: infinite;
      }
      .loading-bar-1 {
        animation-delay: 0s;
      }
      .loading-bar-2 {
        animation-delay: 0.3s;
      }
      .loading-bar-3 {
        animation-delay: 0.6s;
      }
      @keyframes grow {
        0% { transform: scaleY(1.0); }
        5% { transform: scaleY(1.0618033988749895); }
        10% { transform: scaleY(1.1175570504584946); }
        15% { transform: scaleY(1.1618033988749894); }
        20% { transform: scaleY(1.1902113032590307); }
        25% { transform: scaleY(1.2); }
        30% { transform: scaleY(1.1902113032590307); }
        35% { transform: scaleY(1.1618033988749894); }
        40% { transform: scaleY(1.1175570504584946); }
        45% { transform: scaleY(1.0618033988749895); }
        50% { transform: scaleY(1.0); }
        55% { transform: scaleY(0.9381966011250105); }
        60% { transform: scaleY(0.8824429495415054); }
        65% { transform: scaleY(0.8381966011250105); }
        70% { transform: scaleY(0.8097886967409693); }
        75% { transform: scaleY(0.8); }
        80% { transform: scaleY(0.8097886967409693); }
        85% { transform: scaleY(0.8381966011250105); }
        90% { transform: scaleY(0.8824429495415054); }
        95% { transform: scaleY(0.9381966011250105); }
        100% { transform: scaleY(1.0); }
      }
{% endblock %}

{% block body %}
<div id="loader">
<div class="loading-bars">
<div class="loading-bar loading-bar-1"></div>
<div class="loading-bar loading-bar-2"></div>
<div class="loading-bar loading-bar-3"></div>
</div>
<div class="loading-message">Duckbot is loading</div>
<div class="loading-message" id="loading-message">Initializing components...</div>
</div>
<div class="main">
  <div class="header">
    <h1>DuckBot</h1>
    <div class="level-name">Level: <span id="level-name"></span></div>
  </div>
  <div class="content">
      <div class="canvas">
        <div id="canvascontainer">
          <canvas tabindex="0" id="canvas" width="400" height="500"></canvas>
        </div>
        <div class="gamediag">
          <div class="gameinfo">
            <div class="state">State: <span id="state"></span></div>
            <div class="properties">
              <div class="property"><span class="name">thought</span>=<span class="value" id="thought"></span></div>
              <div class="property"><span class="name">north</span>=<span class="value" id="north"></span></div>
              <div class="property"><span class="name">east</span>=<span class="value" id="east"></span></div>
              <div class="property"><span class="name">south</span>=<span class="value" id="south"></span></div>
              <div class="property"><span class="name">west</span>=<span class="value" id="west"></span></div>
            </div>
            <div class="attribution">Based on the venerable <a href="https://www.cs.hmc.edu/picobot/">HMC PicoBot</a></div>
          </div>
          <div class="gamedbg">
            <button class="btn btn-success" id="step">Step</button>
            <div class="form-group">
              <label for="speed">Speed</label>
              <input type="range" id="speed" value="4"/>
            </div>
          </div>
        </div>
      </div>
      <div class="brain">
        <div class="heading">Brain Source</div>
        <div class="srcarea" id="srcarea"></div>
        <div class="error" id="console"></div>
        <div class="controls">
          <button class="btn btn-primary" id="startstopduck">Start Duck</button>
          <button class="btn btn-secondary" id="reloadbrain">Reload Brain</button>
          <button class="btn btn-secondary" id="resetduck">Reset Duck</button>
          <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="loadmap" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Load Map</button>
            <ul class="dropdown-menu" aria-labelledby="loadmap">
              <li id="map-separator"><hr class="dropdown-divider"/></li>
              <li><a class="dropdown-item" href="#" id="loadmapfile">From File...</a></li>
            </ul>
          </div>
          <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="openbraindd" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Open Brain</button>
            <ul class="dropdown-menu" aria-labeledby="openbraindd">
              <li><a id="openbrainfromgh" class="dropdown-item" href="#">From GitHub...</a></li>
              <li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#fromurlmodal">From URL...</a></li>
              <li><a id="openbrain" class="dropdown-item" href="#">From File...</a></li>
            </ul>
          </div>
          <input class="file" type="file" id="mapfile"></input>
          <input class="file" type="file" id="brainfile"></input>
        </div>
      </div>
  </div>
</div>

<div id="fromurlmodal" aria-labelledby="fromurlmodal-title" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="fromurlmodal-title">Open URL</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Enter the URL of the file you would like to load:
        </p>
        <input class="form-control" type="text" placeholder="http://...">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="openbrainfromurl">Load</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" lang="javascript">
  function setLoadingMessage(msg) {
    document.getElementById('loading-message').innerHTML = msg;
  }
  setLoadingMessage("Initializing CodeMirror...");
</script>

{% webpack "www/cm" %}

<script type="module">
  window.editorView = window.newCodeMirror(document.getElementById("srcarea"));
  setLoadingMessage("Initialized CodeMirror...");
</script>
{{ super() }}
{% endblock %}

{% block pyodide_archive %}../data/duckbot.tar.gz{% endblock %}

{% block pyodide_pkgs %}await pyodide.loadPackage("pygame-ce");{% endblock %}
{% block pyodide_prep %}
  setLoadingMessage("Loading Pyodide...");
{% endblock %}
{% block pyodide_launch %}
  setLoadingMessage("Loading Game Components...");
  function setCanvasSize(cssW, cssH) {
    const dpr = window.devicePixelRatio || 1;
    const canvas = document.getElementById('canvas');
    canvas.style.height = cssH + 'px';
    canvas.style.width = cssW + 'px';
    canvas.width = Math.round(cssW * dpr);
    canvas.height = Math.round(cssH * dpr);
  }
  function resetCanvasSize() {
    const r = document.getElementById('canvas').parentElement.getBoundingClientRect();
    setCanvasSize(r.width, r.height);
  }
  window.addEventListener('resize', resetCanvasSize);

await pyodide.runPythonAsync(`import os
os.environ['SDL_EMSCRIPTEN_KEYBOARD_ELEMENT'] = '#canvas'`);

        class WindowControls {
          constructor() {
            this.startStopDuck = document.getElementById('startstopduck');
            this.resetDuck = document.getElementById('resetduck');
            this.loadMap = document.getElementById('loadmap');
            this.loadMapFile = document.getElementById('loadmapfile');
            this.loadBrain = document.getElementById('openbrain');
            this.loadBrainFromUrl = document.getElementById('openbrainfromurl');
            this.loadBrainFromGithub = document.getElementById('openbrainfromgh');
            this.reloadBrain = document.getElementById('reloadbrain');
            this.levelName = document.getElementById('level-name');
            this.console = document.getElementById('console');
            this.stepBtn = document.getElementById('step');
            this.speedRange = document.getElementById('speed');

            this.stateBox = document.getElementById("state");
            this.thoughtBox = document.getElementById("thought");
            this.northBox = document.getElementById("north");
            this.eastBox = document.getElementById("east");
            this.southBox = document.getElementById("south");
            this.westBox = document.getElementById("west");

            this.oldGameState = null;
            this.cbs = {};

            this.setConsole("Errors will show here", "console-dim")

            const self = this;
            const mapFileInput = document.getElementById('mapfile');
            this.speedRange.addEventListener('change', function(event) {
              if ( self.cbs ) self.cbs.setSpeed(event.target.value);
            });
            mapFileInput.addEventListener('change', function(event) {
              var file = event.target.files[0];
              if (file && file.size <= 65536) { // 64 KB = 65536 bytes
                  var reader = new FileReader();

                  reader.addEventListener('load', function(e) {
                      var fileContent = e.target.result;
                      // You can now use the fileContent string as needed
                      const map = self.cbs.loadMap(fileContent);
                      if ( map ) { self.setMapInfo(map); }
                  });

                  reader.readAsText(file);
              } else {
                  console.error('File is either not selected or exceeds 64 KB in size');
              }
            });
            const brainFileInput = document.getElementById('brainfile');
            brainFileInput.addEventListener('change', function(event) {
              var file = event.target.files[0];
              if ( file && file.size <= 65536 ) {
                var reader = new FileReader();

                window.editorView.dispatch({
                  changes: { from: 0, to: window.editorView.state.doc.length, insert: '' }
                });

                reader.addEventListener('load', function(e) {
                  window.editorView.dispatch({
                    changes: { from: window.editorView.state.doc.length, to: window.editorView.state.doc.length, insert: e.target.result }
                  });
                  self.cbs.setBrain(e.target.result);
                });
                reader.readAsText(file);
              } else {
                console.error("This brain.py file is too large");
              }
            });
            this.startStopDuck.addEventListener('click', function() {
              if ( self.cbs ) self.cbs.startStopGame();
            });
            this.resetDuck.addEventListener('click', function() {
              if ( self.cbs ) {
                self.cbs.resetGame();
                this.setConsole("Running", "console-dim");
              }
            });
            this.loadMapFile.addEventListener('click', function() {
              if ( self.cbs ) mapFileInput.click();
            });
            this.loadBrain.addEventListener('click', function() {
              if ( self.cbs ) brainFileInput.click();
            });
            this.stepBtn.addEventListener('click', function() {
              if ( self.cbs ) self.cbs.step();
            });
            this.reloadBrain.addEventListener('click', function() {
                if ( self.cbs ) {
                  window.editorUtil.clearSyntaxErrors(window.editorView);
                  self.cbs.setBrain(window.editorView.state.doc.toString());
                }
            });
          }

          setConsole(msg, cls) {
            this.console.innerHTML = "";
            this.console.appendChild(document.createTextNode(msg));
            this.console.setAttribute("class", cls);
          }

          setMapInfo(map) {
            this.levelName.innerHTML = map.name;
          }

          setSpeedRange(min, max, cur) {
            this.speedRange.setAttribute("min", min.toString());
            this.speedRange.setAttribute("max", max.toString());
            this.speedRange.value = cur;
          }

          setInput(input) {
            this.thoughtBox.innerHTML = input.thought;
            this.northBox.innerHTML = input.north;
            this.southBox.innerHTML = input.south;
            this.westBox.innerHTML = input.west;
            this.eastBox.innerHTML = input.east;
          }

          setMaps(ms) {
            document.querySelectorAll('.map-item').forEach((e) => e.remove());
            const divider = document.getElementById('map-separator');
            const self = this;
            ms.map((m) => {
              const li = document.createElement('li');
              const a = document.createElement('a');
              a.setAttribute('href', '#');
              a.classList.add("dropdown-item");
              a.classList.add("map-item");
              a.appendChild(document.createTextNode(m.name));
              li.appendChild(a);
              divider.parentElement.insertBefore(li, divider);

              a.addEventListener('click', () => {
                 self.setMapInfo(m);
                 self.cbs.loadBuiltinMap(m);
              });
            });
          }

          setGameState(st) {
            if ( this.oldGameState == st ) return;
            this.loadMap.disabled = false;
            this.resetDuck.disabled = false;
            this.reloadBrain.disabled = false;
            this.loadBrain.disabled = false;
            this.oldGameState = st;

            this.stateBox.innerHTML = '';
            let stateText = st;

            switch (st) {
              case 'DuckState.STOPPED':
                this.startStopDuck.disabled = false;
                this.startStopDuck.innerHTML = 'Start Duck';
                stateText = "Stopped 🛑";
                break;
              case 'DuckState.ALIVE':
              case 'DuckState.STEPPING':
                this.startStopDuck.disabled = false;
                this.startStopDuck.innerHTML = 'Stop Duck';
                stateText = "Alive 🦆";

                this.reloadBrain.disabled = true;
                this.loadMap.disabled = true;
                this.resetDuck.disabled = true;
                this.loadBrain.disabled = true;
                break;
              case 'DuckState.COMPLETE':
                stateText = "Complete! 🏆🎉🎉🎉";
                this.setConsole("DuckBot has found the ducklings!", "console-success");
                break;
              case 'DuckState.DEAD':
                stateText = "Dead ☠️";
                this.setConsole("DuckBot has died. Press reset to try again.", "console-error");
                this.startStopDuck.innerHTML = 'Duck Dead';
                break;
              default:
                this.startStopDuck.disabled = true;
                break;
            }

            this.stateBox.appendChild(document.createTextNode(stateText));
          }
        };

          pyodide.canvas.setCanvas2D(document.getElementById('canvas'));
          const pkg = pyodide.pyimport("game");
          const controls = new WindowControls();

          pkg.launch_html('sample_brain.py', 'assets/tileset.json', 'assets/maps',
                          'assets/duck.png',
                          {
                              loaded: (map, maps) => {
                                controls.setMaps(maps.toJs(1));
                                controls.setMapInfo(map);
                                document.getElementById('loader').classList.add("loaded");
                              },
                              setBrain: (b) => {
                                  window.editorView.dispatch({
                                      changes: {
                                          from: 0,
                                          to: window.editorView.state.doc.length,
                                          insert: b
                                      }
                                  });
                              },
                              setCallbacks: (newCbs) => {
                                controls.cbs = newCbs;
                              },
                              reportSyntaxError: (msg, startline, startcol, endline, endcol) => {
                                window.editorUtil.showSyntaxError(window.editorView, { msg, lineno: startline, offset: startcol, end_lineno: endline, end_offset: endcol });
                                controls.setConsole(msg, "console-error")
                              },
                              reportGenericError: (msg, exc) => {
                                if ( exc ) {
                                  const errors = [];
                                  if ( exc.lineno && !exc.end_lineno )
                                    window.editorUtil.highlightErrors(window.editorView, exc.lineno, exc.lineno);
                                  else
                                    window.editorUtil.highlightErrors(window.editorView, exc.lineno, exc.end_lineno);
                                }
                                controls.setConsole(msg, "console-error")
                              },
                              setSpeedRange: function(min, max, cur) {
                                controls.setSpeedRange(min, max, cur);
                              },
                              updateGameInfo: (i) => {
                                controls.setInput(i.input)
                                controls.setGameState(i.game_state);

                                const curThought = i.cur_thought ? i.cur_thought[1].toJs() : null;
                                if ( curThought ) {
                                  const finals = [];
                                  const decidedAt = curThought.decided_at;
                                  if ( decidedAt )
                                    finals.push(decidedAt);
                                  window.editorUtil.setThoughtPath(window.editorView, [], curThought.branches_at.toJs(), finals);
                                }
                            }});

         resetCanvasSize();
{% endblock %}
