{% extends 'www/templates/pyodide.html' %}


{% block extrastyle %}

      body { padding: 0; margin: 0; }
      /* basic styling */
      #canvas {
        min-width: 400px;
        width: 100%;
        height: 100%;
        flex: 1;
      }

      #editor {
          border: 1px solid darkgray;
          height: 400px;
      }

      #file { width: 0px; height: 0px; opacity: 100%; }

      .main {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row
      }

      .brain {
        margin-left: 1em;
        min-width: 400px;
        max-width: 1024px;
        flex: 1;
        display: flex;
        flex-direction: column;
      }

      .srcarea {
        border: 1px solid #ccc;
        flex: 1;
      }

      .heading {
        font-weight: bold;
        font-size: 12pt;
      }

      .controls {
        flex: 0;
      }

      .canvas {
        flex: 2;
        display: flex;
        flex-direction: column;
      }

      #canvascontainer {
        flex: 1;
        width: 100%;
        height: 100%;
        overflow: visible;
      }

      .gameinfo {
        flex: 0;
      }
{% endblock %}

{% block body %}
<div class="main">
      <div class="canvas">
        <div id="canvascontainer">
          <canvas tabindex="0" id="canvas"></canvas>
        </div>
        <div class="gameinfo">
          <div class="state">State: <span id="state"></span></div>
          <table class="properties">
            <tr>
              <td class="name">thought</td>
              <td>=</td>
              <td id="thought"></td>
            </tr>

            <tr>
              <td class="name">north</td>
              <td>=</td>
              <td id="north"></td>
            </tr>

            <tr>
              <td class="name">east</td>
              <td>=</td>
              <td id="east"></td>
            </tr>

            <tr>
              <td class="name">south</td>
              <td>=</td>
              <td id="south"></td>
            </tr>

            <tr>
              <td class="name">west</td>
              <td>=</td>
              <td id="west"></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="brain">
        <div class="heading">Brain Source</div>
        <div class="srcarea" id="srcarea">
        </div>
        <div class="controls">
          <button class="btn btn-primary" id="startstopduck">Start Duck</button>
          <button class="btn btn-secondary" id="reloadbrain">Reload Brain</button>
          <button class="btn btn-secondary" id="resetduck">Reset Duck</button>
          <button class="btn btn-secondary" id="loadmap">Load Map</button>
          <input type="file" id="file"></input>
        </div>
      </div>
</div>

{% webpack "www/cm" %}

<script type="module">
  window.editorView = window.newCodeMirror(document.getElementById("srcarea"));
</script>
{{ super() }}
{% endblock %}

{% block pyodide_archive %}../data/duckbot.tar.gz{% endblock %}

{% block pyodide_pkgs %}await pyodide.loadPackage("pygame-ce");{% endblock %}

{% block pyodide_launch %}
await pyodide.runPythonAsync(`import os
os.environ['SDL_EMSCRIPTEN_KEYBOARD_ELEMENT'] = '#canvas'`);

        class WindowControls {
          constructor() {
            this.startStopDuck = document.getElementById('startstopduck');
            this.resetDuck = document.getElementById('resetduck');
            this.loadMap = document.getElementById('loadmap');
            this.reloadBrain = document.getElementById('reloadbrain');
            this.cbs = {};

            const self = this;
            const fileInput = document.getElementById('file');
            fileInput.addEventListener('change', function(event) {
              var file = event.target.files[0];
              if (file && file.size <= 65536) { // 64 KB = 65536 bytes
                  var reader = new FileReader();

                  reader.addEventListener('load', function(e) {
                      var fileContent = e.target.result;
                      // You can now use the fileContent string as needed
                      self.cbs.loadMap(fileContent);
                  });

                  reader.readAsText(file);
              } else {
                  console.error('File is either not selected or exceeds 64 KB in size');
              }
            });
            this.startStopDuck.addEventListener('click', function() {
              if ( self.cbs ) self.cbs.startStopGame();
            })
            this.resetDuck.addEventListener('click', function() {
              if ( self.cbs ) self.cbs.resetGame();
            });
            this.loadMap.addEventListener('click', function() {
              if ( self.cbs ) fileInput.click();
            });
            this.reloadBrain.addEventListener('click', function() {
                if ( self.cbs ) {
                  window.editorUtil.clearSyntaxErrors(window.editorView);
                  self.cbs.setBrain(window.editorView.state.doc.toString());
                }
            });
          }

          setGameState(st) {
            this.loadMap.disabled = false;
            this.resetDuck.disabled = false;
            this.reloadBrain.disabled = false;
            switch (st) {
              case 'DuckState.STOPPED':
                this.startStopDuck.disabled = false;
                this.startStopDuck.innerHTML = 'Start Duck';
                break;
              case 'DuckState.ALIVE':
                this.startStopDuck.disabled = false;
                this.startStopDuck.innerHTML = 'Stop Duck';

                this.reloadBrain.disabled = true;
                this.loadMap.disabled = true;
                this.resetDuck.disabled = true;
                break;
              default:
                this.startStopDuck.disabled = true;
                break;
            }
          }
        };

          pyodide.canvas.setCanvas2D(document.getElementById('canvas'));
          const pkg = pyodide.pyimport("game");
          const stateBox = document.getElementById("state");
          const thoughtBox = document.getElementById("thought");
          const northBox = document.getElementById("north");
          const eastBox = document.getElementById("east");
          const southBox = document.getElementById("south");
          const westBox = document.getElementById("west");
          const controls = new WindowControls();

          pkg.launch_html('sample_brain.py', 'assets/tileset.json', 'assets/maps/level1.json',
                          'assets/duck.png',
                          {
                              setBrain: (b) => {
                                  window.editorView.dispatch({
                                      changes: {
                                          from: 0,
                                          to: window.editorView.state.doc.length,
                                          insert: b
                                      }
                                  });
                              },
                              setCallbacks: (newCbs) => {
                                controls.cbs = newCbs;
                              },
                              reportSyntaxError: (msg, startline, startcol, endline, endcol) => {
                                window.editorUtil.showSyntaxError(window.editorView, { msg, lineno: startline, offset: startcol, end_lineno: endline, end_offset: endcol });
                              },
                              updateGameInfo: (i) => {
                                const input = i.input;
                                stateBox.innerHTML = i.game_state;
                                thoughtBox.innerHTML = input.thought;
                                northBox.innerHTML = input.north;
                                southBox.innerHTML = input.south;
                                westBox.innerHTML = input.west;
                                eastBox.innerHTML = input.east;


                                controls.setGameState(i.game_state);
                            }});
{% endblock %}
