dist
node_modules
.~*
/www/site
/venv
/build
*.weeks.dat
/site/
.\#*
\#*
__pycache__
*~
Book/*.auxlock
Book/*.pdf
Book/*.out
Book/*.bcf*
Book/*.fls
Book/*ERROR
Book/*.listing
Book/*.xml
Book/*.log
Book/*.out
Book/*.blg
Book/*latexmk
Book/*.toc
Book/*.aux
Book/*.bbl
Book/*.answers.tex

